$default_color: #009000
$default_button_hover_background: #00b300

%shadow_box
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.container
    @extend %shadow_box
    border-style: solid
    border-width: 5px
    border-color: $default_color
    border-radius: 10px
    padding: 5px
    margin-left: 10%
    margin-right: 10%
    margin-bottom: 1%
    margin-top: 1%
    font-family: "Times New Roman", Times, serif

.banner
    text-align: center
    text-decoration: none
    color: green

.banner_header
    font-size: 500%

.banner_sub_header
    font-size: 90%

.banner_navbar
    margin-bottom: 5px
    margin-top: 5px
    padding: 5px
    text-align: left

%std_button
    width: 100px
    margin-left: 1px
    margin-right: 1px
    padding: 5px
    border-style: solid
    border-width: 1px
    border-color: black
    color: black
    background-color: $default_color
    text-align: center
    text-decoration: none
    cursor: pointer

.normal_button
    @extend %std_button

.banner_navbar_button 
    @extend %std_button

.banner_navbar_button:hover
    @extend %shadow_box
    background-color: $default_button_hover_background

.banner_navbar_dropdown
    position: relative
    display: inline-block

.banner_navbar_dropdown_items
    @extend %std_button
    margin: 0px
    padding: 0px
    border-width: 0px
    border-color: nothing
    display: none
    position: absolute

.banner_navbar_dropdown_items
    button
        @extend %std_button
        display: block

.banner_navbar_dropdown_items
    button:hover
        @extend %shadow_box
        background-color: $default_button_hover_background

.banner_navbar_dropdown:hover .banner_navbar_dropdown_items
    display: block

.about
    text-align: left
    text-decoration: none
    font-size: 100%
    color: black

// .slideShow
//     display: none
//     width: 100%

.image
    max-width: 100%
    border-width: 5px
    border-color: $default_color