$button_background: green
$button_hover_background: #00cc00

.container
    border-style: solid
    border-width: 5px
    border-color: green
    border-radius: 10px
    padding: 5px
    margin-left: 10%
    margin-right: 10%
    margin-bottom: 1%
    margin-top: 1%
    font-family: "Times New Roman", Times, serif

.banner
    text-align: center
    text-decoration: none
    color: green

.banner_header
    font-size: 500%

.banner_sub_header
    font-size: 90%

.banner_navbar
    margin-bottom: 5px
    margin-top: 5px
    padding: 5px
    text-align: left

%std_button
    width: 100px
    margin-left: 1px
    margin-right: 1px
    padding: 5px
    border-style: solid
    border-width: 1px
    border-color: black
    color: black
    background-color: $button_background
    text-align: center
    text-decoration: none
    cursor: pointer

.banner_navbar_button 
    @extend %std_button

%shadow_box
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    // box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 21px 0 rgba(0, 0, 0, 0.19)
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2), 0 9px 23px 0 rgba(0, 0, 0, 0.19)

.banner_navbar_button:hover
    @extend %shadow_box
    // background-color: $button_hover_background

.banner_navbar_dropdown
    position: relative
    display: inline-block

.banner_navbar_dropdown_items
    @extend %std_button
    display: none
    position: absolute

.banner_navbar_dropdown_items
    button
        @extend %std_button
        display: block

.banner_navbar_dropdown_items
    button:hover
        @extend %shadow_box
        // background-color: $button_hover_background
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.banner_navbar_dropdown:hover .banner_navbar_dropdown_items
    display: block

.about
    text-align: left
    text-decoration: none
    font-size: 100%
    color: black